* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #808080, #838381);
  padding: 0.5% 6% !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-family: 600;
}
.fa-bars {
  color: #fff;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}
/* banner Section */
#banner {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/banner1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #808080;
  background: #808080;
  transition: 1s;
}
a.hero-btn {
  text-decoration: none;
  color: #fff;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  font-size: 14px;
  color: #fff;
  margin: 10px 0 40px;
}

/* about-us section */
#about-us {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 3%;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 20px;
}
#about-us ul li a {
  color: #212529;
  text-decoration: none;
}
#about-us ul li a:hover {
  color: #808080;
  text-decoration: none;
}
/* Services Section */
#services {
  padding: 80px 0;
}
.service-img {
  width: 100%;
  margin-top: 20px;
}
.services {
  padding: 20px;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 22px;
}
.title::before {
  content: "";
  background: #808080;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background: #808080;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #808080, #808080);
}
/* Portfolio */
.pro-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 6%;
}
.row.contents {
  padding-bottom: 60px;
}
/* contact */
#contact .php-email-form {
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 30px;
  background: #fff;
}
.loading,
.sent-message {
  display: none;
}
.text-center .hero-btn {
  background: #808080;
}

input#name,
input#email,
input#subject,
textarea.form-control {
  box-shadow: none;
  font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
}
section#contact {
  padding: 100px 0;
}
/* Social-media section */
#social-media {
  background: #f8f9fa;
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
/* footer section */
#footer {
  background-image: linear-gradient(to right, #808080, #838381);
  color: #fff;
}

.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 100px;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #808080, #838381);
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #808080, #838381);
  transition: width 2s;
}
.footer-box .btn-primary:hover {
  box-shadow: none !important;
  border: 2px solid #808080;
  margin-top: 30px;
  color: #808080;
  background-image: linear-gradient(to right, #fff, #fff);
}
hr {
  background-color: #fff;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
.copyright a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 767px) {
  .text-box h1 {
    font-size: 42px;
  }
}
